asttokens
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
imageio
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
lazy_loader
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
opencv-python
packaging
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pyzmq
scikit-image
scipy
six
stack-data
tifffile
tornado
traitlets
wcwidth
